Autoevalucion.json
{
  "name": "Autoevalucion",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        -208
      ],
      "id": "bb394cfc-db6e-4ed2-8cc7-a92b229f27f6",
      "name": "Telegram Trigger",
      "webhookId": "0cb0eece-c12d-4b2a-83c9-931e4122df2c",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital.\n\nTu objetivo es responder preguntas de pacientes de forma clara, segura y estructurada.\n\nIMPORTANTE: Tu respuesta DEBE seguir SIEMPRE este formato exacto:\n\n1. Respuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\n\n2. Explicación:\n(Desarrollo un poco más técnico pero entendible)\n\n3. Recomendación:\n(Qué debería hacer el paciente. Ej: consultar médico, reposo, estudios, etc.)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n\n---\n\nReglas importantes:\n\n- No inventes diagnósticos definitivos\n- No recetes medicamentos específicos\n- Usá lenguaje claro para personas sin conocimiento médico\n- Respondé SIEMPRE en español\n- Mantené coherencia con conocimientos médicos generales\n- Evitá respuestas vacías o demasiado cortas\n- La respuesta completa debe tener al menos 80 palabras\n\n---\n\nEjemplo de formato esperado:\n\n1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal generalmente causada por infecciones.\n\n2. Explicación:\nOcurre cuando el sistema inmune responde a virus o bacterias, aumentando la temperatura para combatirlos.\n\n3. Recomendación:\nDescansar, hidratarse y controlar la temperatura. Consultar si supera los 38.5°C por varios días.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es orientativa y no reemplaza una consulta médica profesional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        -208
      ],
      "id": "190437c8-88f3-4684-b197-8878fba9bf1a",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        16
      ],
      "id": "5b13b8e0-bdaf-4451-bd95-1b82c69ccf5c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1184,
        576
      ],
      "id": "a92fdbfb-8024-475b-a4fc-a2c810155cbf",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = items.map(item => {\n  const text = item.json.output || \"\";\n\n  let score = 0;\n  let feedback = [];\n\n  // ===============================\n  // 1. Verificar secciones (2 puntos)\n  // ===============================\n  const sections = [\n    \"1. Respuesta breve\",\n    \"2. Explicación\",\n    \"3. Recomendación\",\n    \"4. Nivel de urgencia\",\n    \"5. Advertencia\"\n  ];\n\n  const hasAllSections = sections.every(sec => text.includes(sec));\n\n  if (hasAllSections) {\n    score += 2;\n  } else {\n    feedback.push(\"Faltan secciones obligatorias.\");\n  }\n\n  // ===============================\n  // 2. Longitud (2 puntos)\n  // ===============================\n  const length = text.length;\n\n  if (length >= 80 && length <= 500) {\n    score += 2;\n  } else {\n    feedback.push(`Longitud inválida: ${length} caracteres.`);\n  }\n\n  // ===============================\n  // 3. Nivel de urgencia válido (2 puntos)\n  // ===============================\n  const urgencyMatch = text.match(/4\\. Nivel de urgencia:\\s*(Bajo|Medio|Alto)/i);\n\n  if (urgencyMatch) {\n    score += 2;\n  } else {\n    feedback.push(\"Nivel de urgencia inválido o no encontrado.\");\n  }\n\n  // ===============================\n  // 4. Palabras prohibidas (2 puntos)\n  // ===============================\n  const forbiddenWords = /(tenes|tienes|padeces|probabilidad)/i;\n\n  if (!forbiddenWords.test(text)) {\n    score += 2;\n  } else {\n    feedback.push(\"Contiene palabras no permitidas.\");\n  }\n\n  // ===============================\n  // 5. Mala calidad (2 puntos)\n  // ===============================\n  const lowQuality = /(no se|nose|no conozco|no conosco)/i;\n\n  if (!lowQuality.test(text)) {\n    score += 2;\n  } else {\n    feedback.push(\"Respuesta de baja calidad detectada.\");\n  }\n\n  // ===============================\n  // Resultado final\n  // ===============================\n  return {\n    json: {\n      ...item.json,\n      score,\n      feedback: feedback.length ? feedback.join(\" | \") : \"OK\"\n    }\n  };\n});\n\nreturn itemsOut;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -208
      ],
      "id": "affce3c9-63cc-4201-9afa-61d1b6e63ff8",
      "name": "Code in JavaScript",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Obtener almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Inicializar si no existe\nif (globalData.counter === undefined) {\n  globalData.counter = 0;\n}\n\n// Incrementar contador\nglobalData.counter += 1;\n\n// Devolver resultado\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -208
      ],
      "id": "1d5e10d6-bbc2-4c23-b327-33228f71fd4a",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "b680ea5b-9be3-474a-94b6-27795cfc039b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8668834c-ce63-4581-81d2-ee618f1d5c52",
                    "leftValue": "={{ $json.counter }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retries"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1376,
        -224
      ],
      "id": "cccce037-ef5d-44ac-aadc-e9d6d6948865",
      "name": "Switch",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{$('Code in JavaScript1').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        -432
      ],
      "id": "b334d70b-560c-4d4a-aa8f-c972fe32d3c8",
      "name": "Send a text message",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -432
      ],
      "id": "adb0edb5-f87d-4e1d-9747-31ce4d32e9af",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:\n{{ $('Telegram Trigger').item.json.message.text }}\n\nRespuesta Original:\n{{ $('Code in JavaScript1').item.json.output }}\n\nfeedback:\n{{ $('Code in JavaScript1').item.json.feedback }}",
        "options": {
          "systemMessage": "Sos un agente corrector de respuestas médicas generadas por otra IA.\n\nTu tarea es REESCRIBIR la respuesta original para que cumpla estrictamente con los criterios de calidad definidos.\n\n### OBJETIVO\nCorregir y mejorar la respuesta manteniendo el contenido útil, pero asegurando que cumpla todas las reglas.\n\n---\n\n### REGLAS OBLIGATORIAS\n\n1. La respuesta DEBE contener EXACTAMENTE estas 5 secciones (con el mismo texto):\n- 1. Respuesta breve:\n- 2. Explicación:\n- 3. Recomendación:\n- 4. Nivel de urgencia:\n- 5. Advertencia:\n\n2. La respuesta total debe tener entre 80 y 500 caracteres.\n\n3. El \"Nivel de urgencia\" SOLO puede ser uno de estos valores:\n- Bajo\n- Medio\n- Alto\n\n4. NO usar ninguna de estas palabras:\n- tenes\n- tienes\n- padeces\n- probabilidad\n\n5. NO generar respuestas de baja calidad como:\n- no se\n- nose\n- no conozco\n- no conosco\n\n6. Mantener claridad, coherencia y utilidad médica básica.\n\n7. No agregar información innecesaria ni redundante.\n\n8. Responder SIEMPRE en español.\n\n---\n\n### COMPORTAMIENTO\n\n- Si la respuesta original tiene errores, corregirlos.\n- Si es demasiado larga, resumirla.\n- Si le falta alguna sección, agregarla.\n- Si el nivel de urgencia es inválido, corregirlo.\n- Si el feedback indica problemas, priorizar corregirlos.\n\n---\n\n### FORMATO DE SALIDA\n\nResponder SOLO con el texto final corregido.\n\nNO agregar explicaciones.\nNO agregar comentarios.\nNO agregar JSON.\nNO mencionar el feedback.\n\n---\n\nTu única salida debe ser la respuesta final corregida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1584,
        -96
      ],
      "id": "855e3d76-9db6-4e95-b302-9926a9729ca2",
      "name": "AI Agent1",
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        112
      ],
      "id": "38a1c5b3-5ab6-4a16-bdf5-593011420bb4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -256
      ],
      "id": "83db9a5c-ae7a-4f50-b33e-599e050968bf",
      "name": "Code in JavaScript3",
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Lo siento, no pude generar una respuesta médica confiable.\nTe recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1824,
        -256
      ],
      "id": "36675140-facd-489c-b9ca-7c94a4db2dec",
      "name": "Send a text message1",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "\n",
        "height": 1312,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -544
      ],
      "typeVersion": 1,
      "id": "b6f88d04-60e4-407d-beea-318c4a56417a",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        1392
      ],
      "id": "d6040b80-165c-459a-9a16-7948d59197aa",
      "name": "Telegram Trigger1",
      "webhookId": "0cb0eece-c12d-4b2a-83c9-931e4122df2c",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        1616
      ],
      "id": "98e7057d-dc97-49c5-9f1f-d8cbaf2d34f6",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        2160
      ],
      "id": "205cc6ab-085f-4371-858d-7852e15135cd",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsCode": "// Obtener almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Inicializar si no existe\nif (globalData.counter === undefined) {\n  globalData.counter = 0;\n}\n\n// Incrementar contador\nglobalData.counter += 1;\n\n// Devolver resultado\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        1392
      ],
      "id": "7c223aa9-78b3-4a18-9a62-31ea6942bb22",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "b680ea5b-9be3-474a-94b6-27795cfc039b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8668834c-ce63-4581-81d2-ee618f1d5c52",
                    "leftValue": "={{ $json.counter }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retries"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1584,
        1376
      ],
      "id": "57fa8af1-1f48-4cf9-9afd-11ac03718c23",
      "name": "Switch1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{$('Code in JavaScript5').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        1168
      ],
      "id": "446ce3d3-dad1-4a83-86df-1ff17528b55d",
      "name": "Send a text message2",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1168
      ],
      "id": "52803752-f26e-44df-8901-08fa902b753b",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1792,
        1840
      ],
      "id": "d4dea462-f632-44b2-8f53-311204ff0b91",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        1344
      ],
      "id": "2e5aca6a-304c-4465-a0fa-bb77e5e71efb",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Lo siento, no pude generar una respuesta médica confiable.\nTe recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2032,
        1344
      ],
      "id": "d130ea92-8d90-4536-bc29-bb8ae6e135f8",
      "name": "Send a text message3",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n",
        "height": 1312,
        "width": 2768,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        1024
      ],
      "typeVersion": 1,
      "id": "bb131215-d779-43c8-9531-cf59efd80a95",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        1616
      ],
      "id": "e4b263eb-4d64-4e30-9e63-5f129bb4d684",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$('Generador').item.json.output}}",
        "options": {
          "systemMessage": "Sos un agente evaluador de calidad de respuestas médicas generadas por otra IA.\n\nTu tarea es ANALIZAR la respuesta recibida, asignar un puntaje (score) y generar un feedback DETALLADO y ACCIONABLE para que otra IA pueda corregirla.\n\n---\n\n### CRITERIOS DE EVALUACIÓN (TOTAL: 10 puntos)\n\n1. Secciones obligatorias (2 puntos)\nDebe contener TODAS estas secciones:\n- 1. Respuesta breve\n- 2. Explicación\n- 3. Recomendación\n- 4. Nivel de urgencia\n- 5. Advertencia\n\n---\n\n2. Longitud (2 puntos)\nDebe tener entre 80 y 500 caracteres.\n\n---\n\n3. Nivel de urgencia válido (2 puntos)\nDebe estar en formato claro:\n\"4. Nivel de urgencia: Bajo|Medio|Alto\"\n\n---\n\n4. Lenguaje adecuado (2 puntos)\nDebe ser claro, profesional y sin ambigüedades innecesarias.\n\n---\n\n5. Calidad de respuesta (2 puntos)\nDebe ser útil, coherente y sin frases de desconocimiento.\n\n---\n\n### FORMA DE EVALUAR\n\n- Asignar 0 o 2 puntos por cada criterio.\n- Evaluar de forma justa, no excesivamente rígida.\n- No modificar la respuesta original.\n\n---\n\n### FEEDBACK DETALLADO (MUY IMPORTANTE)\n\nEl feedback debe ser ESPECÍFICO y ACCIONABLE.\n\nPara cada error:\n- Explicar QUÉ está mal\n- Explicar POR QUÉ está mal\n- Explicar CÓMO corregirlo\n\nEjemplos de buen feedback:\n\n✔️ \"La respuesta supera los 500 caracteres (620). Reducir contenido eliminando redundancias y manteniendo solo la información esencial.\"\n\n✔️ \"Falta la sección '5. Advertencia'. Agregar una advertencia clara indicando que no reemplaza la consulta médica.\"\n\n✔️ \"El nivel de urgencia no está en formato válido. Debe ser exactamente: Bajo, Medio o Alto.\"\n\n✔️ \"El lenguaje es poco profesional ('tenes'). Reemplazar por un tono más neutral e impersonal.\"\n\n✔️ \"La respuesta es vaga en la recomendación. Incluir acciones concretas como hidratación o control de síntomas.\"\n\n---\n\nSi TODO está correcto:\n→ feedback = \"OK\"\n\n---\n\n### OUTPUT OBLIGATORIO (FORMATO JSON)\n\nDebes devolver EXACTAMENTE:\n\n{\n  \"output\": \"<respuesta original sin modificar>\",\n  \"score\": <numero entre 0 y 10>,\n  \"feedback\": \"<feedback detallado o 'OK'>\"\n}\n\n---\n\n### REGLAS FINALES\n\n- NO resumir el feedback.\n- NO ser genérico.\n- NO agregar texto fuera del JSON.\n- El feedback debe ayudar directamente a mejorar la respuesta.\n\nTu salida debe ser SOLO el JSON."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        1392
      ],
      "id": "60d7ffb0-7eba-4ebc-94c0-a1258dc35854",
      "name": "Evaluador"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital.\n\nTu objetivo es responder preguntas de pacientes de forma clara, segura y estructurada.\n\nIMPORTANTE: Tu respuesta DEBE seguir SIEMPRE este formato exacto:\n\n1. Respuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\n\n2. Explicación:\n(Desarrollo un poco más técnico pero entendible)\n\n3. Recomendación:\n(Qué debería hacer el paciente. Ej: consultar médico, reposo, estudios, etc.)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n\n---\n\nReglas importantes:\n\n- No inventes diagnósticos definitivos\n- No recetes medicamentos específicos\n- Usá lenguaje claro para personas sin conocimiento médico\n- Respondé SIEMPRE en español\n- Mantené coherencia con conocimientos médicos generales\n- Evitá respuestas vacías o demasiado cortas\n- La respuesta completa debe tener al menos 80 palabras\n\n---\n\nEjemplo de formato esperado:\n\n1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal generalmente causada por infecciones.\n\n2. Explicación:\nOcurre cuando el sistema inmune responde a virus o bacterias, aumentando la temperatura para combatirlos.\n\n3. Recomendación:\nDescansar, hidratarse y controlar la temperatura. Consultar si supera los 38.5°C por varios días.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es orientativa y no reemplaza una consulta médica profesional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        1392
      ],
      "id": "0b71512c-095c-4b8f-8bd9-3a5bb0db846c",
      "name": "Generador"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:\n{{ $('Telegram Trigger1').item.json.message.text }}\n\nRespuesta Original:\n{{ $('Code in JavaScript5').item.json.output }}\n\nfeedback:\n{{ $('Code in JavaScript5').item.json.feedback }}",
        "options": {
          "systemMessage": "Sos un agente corrector de respuestas médicas generadas por otra IA.\n\nTu tarea es REESCRIBIR la respuesta original para que cumpla estrictamente con los criterios de calidad definidos.\n\n### OBJETIVO\nCorregir y mejorar la respuesta manteniendo el contenido útil, pero asegurando que cumpla todas las reglas.\n\n---\n\n### REGLAS OBLIGATORIAS\n\n1. La respuesta DEBE contener EXACTAMENTE estas 5 secciones (con el mismo texto):\n- 1. Respuesta breve:\n- 2. Explicación:\n- 3. Recomendación:\n- 4. Nivel de urgencia:\n- 5. Advertencia:\n\n2. La respuesta total debe tener entre 80 y 500 caracteres.\n\n3. El \"Nivel de urgencia\" SOLO puede ser uno de estos valores:\n- Bajo\n- Medio\n- Alto\n\n4. NO usar ninguna de estas palabras:\n- tenes\n- tienes\n- padeces\n- probabilidad\n\n5. NO generar respuestas de baja calidad como:\n- no se\n- nose\n- no conozco\n- no conosco\n\n6. Mantener claridad, coherencia y utilidad médica básica.\n\n7. No agregar información innecesaria ni redundante.\n\n8. Responder SIEMPRE en español.\n\n---\n\n### COMPORTAMIENTO\n\n- Si la respuesta original tiene errores, corregirlos.\n- Si es demasiado larga, resumirla.\n- Si le falta alguna sección, agregarla.\n- Si el nivel de urgencia es inválido, corregirlo.\n- Si el feedback indica problemas, priorizar corregirlos.\n\n---\n\n### FORMATO DE SALIDA\n\nResponder SOLO con el texto final corregido.\n\nNO agregar explicaciones.\nNO agregar comentarios.\nNO agregar JSON.\nNO mencionar el feedback.\n\n---\n\nTu única salida debe ser la respuesta final corregida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1792,
        1600
      ],
      "id": "e1b4c061-97fb-4bc7-8921-292b9f317f77",
      "name": "Corrector"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  let raw = item.json.output;\n\n  // 1. Eliminar bloques ```json ... ```\n  raw = raw.replace(/```json\\s*/i, '').replace(/```$/, '');\n\n  // 2. Trim\n  raw = raw.trim();\n\n  let parsed;\n\n  try {\n    parsed = JSON.parse(raw);\n  } catch (error) {\n    return {\n      json: {\n        ...item.json,\n        error: \"Error parseando JSON\",\n        raw\n      }\n    };\n  }\n\n  // 3. Devolver estructura final\n  return {\n    json: {\n      ...parsed\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1392
      ],
      "id": "79700b0a-1203-4c04-b1cb-5af02a0a6f76",
      "name": "Code in JavaScript4"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 507696317,
          "message": {
            "message_id": 3,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "en"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776729343,
            "text": "tengo fiebre y mareos"
          }
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "1. Respuesta breve:\nLa fiebre indica una elevación de tu temperatura corporal, generalmente como respuesta de tu sistema inmune a una infección. Los mareos son una sensación de aturdimiento o desequilibrio que puede ser un síntoma común cuando el cuerpo está bajo estrés, como durante un episodio febril.\n\n2. Explicación:\nLa fiebre es un mecanismo de defensa del cuerpo que aumenta la temperatura para intentar combatir virus o bacterias. Los mareos pueden surgir en este contexto debido a varios factores como la deshidratación, la vasodilatación (ensanchamiento de los vasos sanguíneos que puede bajar la presión arterial), o el cansancio general que acompaña a muchas enfermedades. También, algunas condiciones que causan fiebre pueden directamente afectar el sistema nervioso o el equilibrio.\n\n3. Recomendación:\nEs fundamental que descanses y te hidrates muy bien bebiendo agua, caldos o sueros orales. Controla tu temperatura regularmente. Si la fiebre supera los 38.5°C, los mareos son muy intensos, o aparecen otros síntomas como dolor de cabeza fuerte, dificultad para respirar, vómitos persistentes o confusión, consulta a un médico.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es una guía general y no reemplaza el diagnóstico ni la consulta con un profesional de la salud. Si tus síntomas empeoran o te causan preocupación, busca atención médica."
        }
      }
    ],
    "Telegram Trigger1": [
      {
        "json": {
          "update_id": 507696317,
          "message": {
            "message_id": 3,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "en"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776729343,
            "text": "tengo fiebre y mareos"
          }
        }
      }
    ],
    "Generador": [
      {
        "json": {
          "output": "1. Respuesta breve:\nLa fiebre indica una elevación de tu temperatura corporal, generalmente como respuesta de tu sistema inmune a una infección. Los mareos son una sensación de aturdimiento o desequilibrio que puede ser un síntoma común cuando el cuerpo está bajo estrés, como durante un episodio febril.\n\n2. Explicación:\nLa fiebre es un mecanismo de defensa del cuerpo que aumenta la temperatura para intentar combatir virus o bacterias. Los mareos pueden surgir en este contexto debido a varios factores como la deshidratación, la vasodilatación (ensanchamiento de los vasos sanguíneos que puede bajar la presión arterial), o el cansancio general que acompaña a muchas enfermedades. También, algunas condiciones que causan fiebre pueden directamente afectar el sistema nervioso o el equilibrio.\n\n3. Recomendación:\nEs fundamental que descanses y te hidrates muy bien bebiendo agua, caldos o sueros orales. Controla tu temperatura regularmente. Si la fiebre supera los 38.5°C, los mareos son muy intensos, o aparecen otros síntomas como dolor de cabeza fuerte, dificultad para respirar, vómitos persistentes o confusión, consulta a un médico.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es una guía general y no reemplaza el diagnóstico ni la consulta con un profesional de la salud. Si tus síntomas empeoran o te causan preocupación, busca atención médica."
        }
      }
    ],
    "Evaluador": [
      {
        "json": {
          "output": "```json\n{\n  \"output\": \"1. Respuesta breve:\\nLa fiebre indica una elevación de tu temperatura corporal, generalmente como respuesta de tu sistema inmune a una infección. Los mareos son una sensación de aturdimiento o desequilibrio que puede ser un síntoma común cuando el cuerpo está bajo estrés, como durante un episodio febril.\\n\\n2. Explicación:\\nLa fiebre es un mecanismo de defensa del cuerpo que aumenta la temperatura para intentar combatir virus o bacterias. Los mareos pueden surgir en este contexto debido a varios factores como la deshidratación, la vasodilatación (ensanchamiento de los vasos sanguíneos que puede bajar la presión arterial), o el cansancio general que acompaña a muchas enfermedades. También, algunas condiciones que causan fiebre pueden directamente afectar el sistema nervioso o el equilibrio.\\n\\n3. Recomendación:\\nEs fundamental que descanses y te hidrates muy bien bebiendo agua, caldos o sueros orales. Controla tu temperatura regularmente. Si la fiebre supera los 38.5°C, los mareos son muy intensos, o aparecen otros síntomas como dolor de cabeza fuerte, dificultad para respirar, vómitos persistentes o confusión, consulta a un médico.\\n\\n4. Nivel de urgencia:\\nMedio\\n\\n5. Advertencia:\\nEsta información es una guía general y no reemplaza el diagnóstico ni la consulta con un profesional de la salud. Si tus síntomas empeoran o te causan preocupación, busca atención médica.\",\n  \"score\": 8,\n  \"feedback\": \"La respuesta supera los 500 caracteres (941). Reducir el contenido eliminando redundancias y manteniendo solo la información esencial, especialmente en las secciones de explicación y recomendación.\"\n}\n```"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Generador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Generador",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Corrector",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Corrector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Corrector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generador": {
      "main": [
        [
          {
            "node": "Evaluador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Corrector": {
      "main": [
        []
      ]
    },
    "Evaluador": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c48f4583-46c4-4a82-87fc-37ccfbe6dfaf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7b31977a1d8a788524451e091bfb2aa41fe01b91c4beac223ed036d4596a163"
  },
  "id": "iJGQGhDgCVTual5E",
  "tags": []
}