Autoevalucion.json
{
  "name": "Autoevalucion",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -224
      ],
      "id": "bb394cfc-db6e-4ed2-8cc7-a92b229f27f6",
      "name": "Telegram Trigger",
      "webhookId": "0cb0eece-c12d-4b2a-83c9-931e4122df2c",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Sos un asistente médico virtual de un hospital.\n\nTu objetivo es responder preguntas de pacientes de forma clara, segura y estructurada.\n\nIMPORTANTE: Tu respuesta DEBE seguir SIEMPRE este formato exacto:\n\n1. Respuesta breve:\n(Explicación clara y simple en 2-3 oraciones)\n\n2. Explicación:\n(Desarrollo un poco más técnico pero entendible)\n\n3. Recomendación:\n(Qué debería hacer el paciente. Ej: consultar médico, reposo, estudios, etc.)\n\n4. Nivel de urgencia:\n(Bajo / Medio / Alto)\n\n5. Advertencia:\n(Aclarar que no reemplaza a un profesional si corresponde)\n\n---\n\nReglas importantes:\n\n- No inventes diagnósticos definitivos\n- No recetes medicamentos específicos\n- Usá lenguaje claro para personas sin conocimiento médico\n- Respondé SIEMPRE en español\n- Mantené coherencia con conocimientos médicos generales\n- Evitá respuestas vacías o demasiado cortas\n- La respuesta completa debe tener al menos 80 palabras\n\n---\n\nEjemplo de formato esperado:\n\n1. Respuesta breve:\nLa fiebre es una elevación de la temperatura corporal generalmente causada por infecciones.\n\n2. Explicación:\nOcurre cuando el sistema inmune responde a virus o bacterias, aumentando la temperatura para combatirlos.\n\n3. Recomendación:\nDescansar, hidratarse y controlar la temperatura. Consultar si supera los 38.5°C por varios días.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es orientativa y no reemplaza una consulta médica profesional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        96,
        -224
      ],
      "id": "190437c8-88f3-4684-b197-8878fba9bf1a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "id": "5b13b8e0-bdaf-4451-bd95-1b82c69ccf5c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        560
      ],
      "id": "a92fdbfb-8024-475b-a4fc-a2c810155cbf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const itemsOut = items.map(item => {\n  const text = item.json.output || \"\";\n\n  let score = 0;\n  let feedback = [];\n\n  // ===============================\n  // 1. Verificar secciones (2 puntos)\n  // ===============================\n  const sections = [\n    \"1. Respuesta breve\",\n    \"2. Explicación\",\n    \"3. Recomendación\",\n    \"4. Nivel de urgencia\",\n    \"5. Advertencia\"\n  ];\n\n  const hasAllSections = sections.every(sec => text.includes(sec));\n\n  if (hasAllSections) {\n    score += 2;\n  } else {\n    feedback.push(\"Faltan secciones obligatorias.\");\n  }\n\n  // ===============================\n  // 2. Longitud (2 puntos)\n  // ===============================\n  const length = text.length;\n\n  if (length >= 80 && length <= 500) {\n    score += 2;\n  } else {\n    feedback.push(`Longitud inválida: ${length} caracteres.`);\n  }\n\n  // ===============================\n  // 3. Nivel de urgencia válido (2 puntos)\n  // ===============================\n  const urgencyMatch = text.match(/4\\. Nivel de urgencia:\\s*(Bajo|Medio|Alto)/i);\n\n  if (urgencyMatch) {\n    score += 2;\n  } else {\n    feedback.push(\"Nivel de urgencia inválido o no encontrado.\");\n  }\n\n  // ===============================\n  // 4. Palabras prohibidas (2 puntos)\n  // ===============================\n  const forbiddenWords = /(tenes|tienes|padeces|probabilidad)/i;\n\n  if (!forbiddenWords.test(text)) {\n    score += 2;\n  } else {\n    feedback.push(\"Contiene palabras no permitidas.\");\n  }\n\n  // ===============================\n  // 5. Mala calidad (2 puntos)\n  // ===============================\n  const lowQuality = /(no se|nose|no conozco|no conosco)/i;\n\n  if (!lowQuality.test(text)) {\n    score += 2;\n  } else {\n    feedback.push(\"Respuesta de baja calidad detectada.\");\n  }\n\n  // ===============================\n  // Resultado final\n  // ===============================\n  return {\n    json: {\n      ...item.json,\n      score,\n      feedback: feedback.length ? feedback.join(\" | \") : \"OK\"\n    }\n  };\n});\n\nreturn itemsOut;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -224
      ],
      "id": "affce3c9-63cc-4201-9afa-61d1b6e63ff8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Obtener almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Inicializar si no existe\nif (globalData.counter === undefined) {\n  globalData.counter = 0;\n}\n\n// Incrementar contador\nglobalData.counter += 1;\n\n// Devolver resultado\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -224
      ],
      "id": "1d5e10d6-bbc2-4c23-b327-33228f71fd4a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.score }}",
                    "rightValue": 8,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "b680ea5b-9be3-474a-94b6-27795cfc039b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8668834c-ce63-4581-81d2-ee618f1d5c52",
                    "leftValue": "={{ $json.counter }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retries"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        -240
      ],
      "id": "cccce037-ef5d-44ac-aadc-e9d6d6948865",
      "name": "Switch"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{$('Code in JavaScript1').item.json.output}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -448
      ],
      "id": "b334d70b-560c-4d4a-aa8f-c972fe32d3c8",
      "name": "Send a text message",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -448
      ],
      "id": "adb0edb5-f87d-4e1d-9747-31ce4d32e9af",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pregunta:\n{{ $('Telegram Trigger').item.json.message.text }}\n\nRespuesta Original:\n{{ $('Code in JavaScript1').item.json.output }}\n\nfeedback:\n{{ $('Code in JavaScript1').item.json.feedback }}",
        "options": {
          "systemMessage": "Sos un agente corrector de respuestas médicas generadas por otra IA.\n\nTu tarea es REESCRIBIR la respuesta original para que cumpla estrictamente con los criterios de calidad definidos.\n\n### OBJETIVO\nCorregir y mejorar la respuesta manteniendo el contenido útil, pero asegurando que cumpla todas las reglas.\n\n---\n\n### REGLAS OBLIGATORIAS\n\n1. La respuesta DEBE contener EXACTAMENTE estas 5 secciones (con el mismo texto):\n- 1. Respuesta breve:\n- 2. Explicación:\n- 3. Recomendación:\n- 4. Nivel de urgencia:\n- 5. Advertencia:\n\n2. La respuesta total debe tener entre 80 y 500 caracteres.\n\n3. El \"Nivel de urgencia\" SOLO puede ser uno de estos valores:\n- Bajo\n- Medio\n- Alto\n\n4. NO usar ninguna de estas palabras:\n- tenes\n- tienes\n- padeces\n- probabilidad\n\n5. NO generar respuestas de baja calidad como:\n- no se\n- nose\n- no conozco\n- no conosco\n\n6. Mantener claridad, coherencia y utilidad médica básica.\n\n7. No agregar información innecesaria ni redundante.\n\n8. Responder SIEMPRE en español.\n\n---\n\n### COMPORTAMIENTO\n\n- Si la respuesta original tiene errores, corregirlos.\n- Si es demasiado larga, resumirla.\n- Si le falta alguna sección, agregarla.\n- Si el nivel de urgencia es inválido, corregirlo.\n- Si el feedback indica problemas, priorizar corregirlos.\n\n---\n\n### FORMATO DE SALIDA\n\nResponder SOLO con el texto final corregido.\n\nNO agregar explicaciones.\nNO agregar comentarios.\nNO agregar JSON.\nNO mencionar el feedback.\n\n---\n\nTu única salida debe ser la respuesta final corregida."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        -112
      ],
      "id": "855e3d76-9db6-4e95-b302-9926a9729ca2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        960,
        96
      ],
      "id": "38a1c5b3-5ab6-4a16-bdf5-593011420bb4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "rc3IIqpQcDKATvsl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acceder al almacenamiento global del workflow\nconst globalData = $getWorkflowStaticData('global');\n\n// Resetear contador\nglobalData.counter = 0;\n\n// (Opcional) devolver info para debug\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    counter: globalData.counter,\n    message: \"Counter reseteado a 0\"\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -272
      ],
      "id": "83db9a5c-ae7a-4f50-b33e-599e050968bf",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Lo siento, no pude generar una respuesta médica confiable.\nTe recomiendo reformular la pregunta o consultar con un profesional.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        -272
      ],
      "id": "36675140-facd-489c-b9ca-7c94a4db2dec",
      "name": "Send a text message1",
      "webhookId": "364e3e8e-03de-4af3-a79a-7e270d5d42e1",
      "credentials": {
        "telegramApi": {
          "id": "ParkL6SanSQxx3wo",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "\n",
        "height": 1312,
        "width": 2368
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        -560
      ],
      "typeVersion": 1,
      "id": "b6f88d04-60e4-407d-beea-318c4a56417a",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 507696317,
          "message": {
            "message_id": 3,
            "from": {
              "id": 8722030592,
              "is_bot": false,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "language_code": "en"
            },
            "chat": {
              "id": 8722030592,
              "first_name": "Maximiliano",
              "last_name": "Rosanda",
              "type": "private"
            },
            "date": 1776729343,
            "text": "tengo fiebre y mareos"
          }
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "1. Respuesta breve:\nLa fiebre indica una elevación de tu temperatura corporal, generalmente como respuesta de tu sistema inmune a una infección. Los mareos son una sensación de aturdimiento o desequilibrio que puede ser un síntoma común cuando el cuerpo está bajo estrés, como durante un episodio febril.\n\n2. Explicación:\nLa fiebre es un mecanismo de defensa del cuerpo que aumenta la temperatura para intentar combatir virus o bacterias. Los mareos pueden surgir en este contexto debido a varios factores como la deshidratación, la vasodilatación (ensanchamiento de los vasos sanguíneos que puede bajar la presión arterial), o el cansancio general que acompaña a muchas enfermedades. También, algunas condiciones que causan fiebre pueden directamente afectar el sistema nervioso o el equilibrio.\n\n3. Recomendación:\nEs fundamental que descanses y te hidrates muy bien bebiendo agua, caldos o sueros orales. Controla tu temperatura regularmente. Si la fiebre supera los 38.5°C, los mareos son muy intensos, o aparecen otros síntomas como dolor de cabeza fuerte, dificultad para respirar, vómitos persistentes o confusión, consulta a un médico.\n\n4. Nivel de urgencia:\nMedio\n\n5. Advertencia:\nEsta información es una guía general y no reemplaza el diagnóstico ni la consulta con un profesional de la salud. Si tus síntomas empeoran o te causan preocupación, busca atención médica."
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f2c1a94e-aebd-4f7b-863d-e7d0ff207e46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c7b31977a1d8a788524451e091bfb2aa41fe01b91c4beac223ed036d4596a163"
  },
  "id": "iJGQGhDgCVTual5E",
  "tags": []
}