Chat con texto y audio.json
{
  "name": "Chat con texto y audio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "13f1e83a-33c8-493f-b125-97eea3283cf2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        432
      ],
      "id": "8cd8c9e4-8684-4feb-989d-951e0849a2a6",
      "name": "Webhook",
      "webhookId": "13f1e83a-33c8-493f-b125-97eea3283cf2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5edc883f-9a05-4943-bbe7-7563ae303e46",
              "leftValue": "={{ $json.body.messages[0].type }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        448
      ],
      "id": "0ff9a794-0fd1-4f25-94f1-d6107a768b27",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.messages[0].text.body }}",
        "options": {
          "systemMessage": "=Sos un asistente virtual de una empresa especializada en automatización con inteligencia artificial.\n\nTu tarea es responder mensajes de clientes de forma clara, útil y profesional.\n\nReglas IMPORTANTES:\n- Respondé de forma clara y directa.\n- Usá un tono profesional pero cercano.\n- Mantené respuestas breves (3 a 5 oraciones como máximo).\n- Evitá tecnicismos innecesarios, salvo que el cliente los use.\n- No repitas lo que dijo el cliente.\n- No uses respuestas genéricas.\n- No inventes información.\n\nObjetivo:\nEntender la necesidad del cliente y ayudarlo, guiándolo hacia una solución o el siguiente paso (ej: pedir más detalles, ofrecer ayuda, agendar una llamada).\n\nComportamiento:\n- Si el mensaje es una consulta → respondé con claridad.\n- Si el mensaje es ambiguo → pedí aclaración con una sola pregunta.\n- Si el cliente muestra interés → orientá la conversación hacia una acción (ej: avanzar con su caso).\n- Si el cliente no conoce el tema → explicá simple, sin ser técnico.\n\nContexto de la empresa:\nLa empresa crea soluciones de automatización con IA (chatbots, integraciones, flujos automáticos, etc.) para optimizar procesos y ahorrar tiempo.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -16
      ],
      "id": "cb74f25d-d813-4530-bf40-5fb9a658dba5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        160,
        176
      ],
      "id": "a6db1490-12df-4089-a41c-8b2a9ad08634",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        1200
      ],
      "id": "9575fa7a-56de-4467-a3e3-6c0082fd057d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "",
        "height": 432,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -96
      ],
      "typeVersion": 1,
      "id": "4dfdd444-eaad-48b9-b7e2-8cd214f00d40",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 320,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "id": "0673442d-a78e-42cc-8238-cf63116587d1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -144,
        688
      ],
      "id": "a63ec570-1749-4bb1-8b5a-0c6b5046c2c3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Transcribí este audio en español. Devolvé solo el texto.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"audio/ogg\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        688
      ],
      "id": "af065f4d-ae04-48df-8a6c-b2f3fe8f82f9",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hULuAEpbAZTCnWe6",
          "name": "Header Auth Gemini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {
          "systemMessage": "=Sos un asistente virtual de una empresa especializada en automatización con inteligencia artificial.\n\nTu tarea es responder mensajes de clientes que fueron transcritos desde audios.\n\nReglas IMPORTANTES:\n- Respondé de forma clara, breve y directa.\n- Usá un tono profesional pero cercano.\n- Máximo 2 o 3 oraciones.\n- Evitá explicaciones largas o técnicas innecesarias.\n- No repitas lo que dijo el cliente.\n- No uses listas ni formato complejo.\n- No agregues relleno ni frases genéricas.\n- Respondé como si fuera un mensaje hablado (natural para audio).\n\nObjetivo:\nAyudar al cliente, resolver su duda o guiarlo al siguiente paso (por ejemplo: pedir más info, agendar una llamada, etc.).\n\nSi falta información:\n- Pedí SOLO lo mínimo necesario en una sola pregunta.\n\nContexto de la empresa:\nLa empresa crea soluciones de automatización con IA (chatbots, integraciones, flujos automáticos, etc.) para mejorar procesos y ahorrar tiempo.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        272,
        688
      ],
      "id": "db69b0a1-5518-4e76-bd31-bef1ab61cbde",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        880
      ],
      "id": "4a1557fd-1dbc-4aba-9326-0bca5b5cc846",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        592
      ],
      "typeVersion": 1,
      "id": "1fa7ee48-460a-4c21-a3f1-24a78475ca72",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/Ejn6IMiIDA0kNBW4lWR7",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{$json.output}}\",\n  \"model_id\": \"eleven_multilingual_v2\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        608,
        688
      ],
      "id": "14afe667-1350-4dce-905e-9c136d7f793d",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sazO2ditJqw6rpHd",
          "name": "Header Auth Elevenlab"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        688
      ],
      "id": "7e419554-f064-4c26-a314-98dd4ae4bd6c",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $('Webhook').item.json.body.messages[0].from }}\",\n  \"body\": \"{{$json.output}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        -16
      ],
      "id": "44e4beaf-9c95-41ac-982f-5c3877f8a204",
      "name": "HTTP Request2",
      "credentials": {
        "httpBearerAuth": {
          "id": "UakBzL2fFiDf3jrK",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      ...item.json,\n      output: item.json.output.replace(/\\n/g, '')\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -16
      ],
      "id": "e7b01ccf-9e54-47f5-a9b0-897132e9615f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dec1a8b5-c302-42f2-8ec4-c065f6e8bc54",
              "leftValue": "={{$json.body.messages[0].from}}",
              "rightValue": "5491158524108",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        432
      ],
      "id": "8cc4f8c9-b3fe-4f39-9c9b-dfe3bcc42782",
      "name": "If1"
    },
    {
      "parameters": {
        "content": "# Chat con texto y audio\n\n## creamos un chat para whatsapp\n\n ### dfhdsjfkl *sdjfklsdjf* lsdfjsdf ilsaj fio\n\nkfdjs dfjsd ksdjfl **sdffjklsd** fjlkjdsflksdjflsdksjdiosdfj klfjsdifjsdiofjsdfiosdjf ~~jsfksdfjsdioj~~ ijsdffsdifjsdifo sdjifisdf sdfoijiosdjfsd iosdfjsisdifoioafjiojdf  ijodfjsfio jsd  fiojsdifoj iodfjsiofjsdf ij oifdjsoifijsdf \n\n- webhook\n- agentes ia \n    - if\n\n\n 1. transformacion de audio a texto\n2. transfroacion de texto a audio\n\n[Google](https://google.com)\n\n```js\nconsole.log(\"hola mundo\");\n```\n\n- [x] Hecho\n- [ ] Pendiente",
        "height": 656,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        -432
      ],
      "typeVersion": 1,
      "id": "297e4035-8c71-4793-897a-d0f676588e60",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "ebay-thrower-siren.ngrok-free.dev",
            "content-length": "306",
            "accept": "application/json",
            "baggage": "sentry-environment=prod,sentry-public_key=22217dc31eef5d21afad60404664acb9,sentry-trace_id=3212c41a112447da87e34482b87044ff",
            "content-type": "application/json",
            "sentry-trace": "3212c41a112447da87e34482b87044ff-9ce464180a336bde",
            "x-forwarded-for": "37.27.140.235",
            "x-forwarded-host": "ebay-thrower-siren.ngrok-free.dev",
            "x-forwarded-proto": "https",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "messages": [
              {
                "id": "rPhGtrLeJgQ7S2hyY8CvgQ-hYtb8gIAUMs",
                "from_me": false,
                "type": "text",
                "chat_id": "5491168179706@s.whatsapp.net",
                "timestamp": 1776300145,
                "source": "mobile",
                "text": {
                  "body": "Hola"
                },
                "from": "5491168179706",
                "from_name": "Maxi"
              }
            ],
            "event": {
              "type": "messages",
              "event": "post"
            },
            "channel_id": "IRONMN-DZ4TG"
          },
          "webhookUrl": "https://ebay-thrower-siren.ngrok-free.dev/webhook/13f1e83a-33c8-493f-b125-97eea3283cf2",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b10ca305-2ace-4763-92bc-71fa9fd7071c",
  "meta": {
    "instanceId": "98611db8140f0447c39c8e56666f9a86ee6ca617237fbb551230c599687176fd"
  },
  "id": "ddqZGmG5tUKjBzlB",
  "tags": []
}