Chat with image.json
{
  "name": "Chat with image",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "db4b1bde-6bbc-4c17-846b-2dda855f9f3a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -64
      ],
      "id": "959c375b-bdf3-45a6-8f2b-0c1505809066",
      "name": "Webhook",
      "webhookId": "db4b1bde-6bbc-4c17-846b-2dda855f9f3a"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f7c22d4f-95a3-405b-9ee3-1e1237c9d743",
              "leftValue": "={{$binary.data}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        -64
      ],
      "id": "4934c0c1-ba50-4770-9a51-92d27b331461",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.body.text}}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        224
      ],
      "id": "fcf63032-b417-4a61-9841-959b7d196bb5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        400
      ],
      "id": "7e6e0235-72f5-469d-abdc-36d7dbf5c293",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{$('Webhook').item.json.body.tel}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        592
      ],
      "id": "a4254b1e-8cb4-4576-9956-d8f73a01c462",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1584,
        -112
      ],
      "id": "6d54bd9b-44eb-4f41-a381-b47872783b3d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        -256
      ],
      "id": "6188604c-cb09-491c-8381-522dc8df0b7e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analiza la imagen adjunta.Explica claramente qué contiene la imagen, qué significa en contexto y brinda una respuesta útil.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{$binary.data.mimeType}}\",\n            \"data\": \"{{ $json.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        -256
      ],
      "id": "609ab14c-cf30-432b-ba49-2a55696ae8d1",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hULuAEpbAZTCnWe6",
          "name": "Header Auth Gemini"
        }
      }
    },
    {
      "parameters": {
        "content": "",
        "height": 368,
        "width": 576,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        176
      ],
      "typeVersion": 1,
      "id": "7c0e5b4e-c8d9-4174-9317-b758ed1a5ad1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -368
      ],
      "typeVersion": 1,
      "id": "c0093058-9dab-4a49-9913-9925b0c39af7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 288,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -176
      ],
      "typeVersion": 1,
      "id": "32f190d6-3b2a-4733-ad72-382c86c065eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 320,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        -224
      ],
      "typeVersion": 1,
      "id": "748136ff-87f8-40d7-b696-7c74f9b7e82b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        656,
        -48
      ],
      "id": "466a1bdf-51d3-4c7b-84e7-fcf5a9c033e0",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tPOlAXxdOkL7CcXN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.candidates[0].content.parts[0].text}}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -256
      ],
      "id": "534f5300-1915-4f7b-8e08-1da2393b55b7",
      "name": "AI Agent1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "25f9af98-98c1-42a4-8962-57e64974bd2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98611db8140f0447c39c8e56666f9a86ee6ca617237fbb551230c599687176fd"
  },
  "id": "3hPjMaSyBX3Drswx",
  "tags": []
}