Multimodal Generar imagen.json
{
  "name": "Multimodal Generar imagen",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "be984415-f528-4528-9fed-951ea59f86a8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -32
      ],
      "id": "a09186d9-f47b-4658-bce2-59b0bf169c73",
      "name": "Webhook",
      "webhookId": "be984415-f528-4528-9fed-951ea59f86a8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"image/jpeg\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.body.text }}\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\"],\n    \"imageConfig\": {\n      \"aspectRatio\": \"16:9\",\n      \"imageSize\": \"1K\"\n    }\n  },\n  \"safetySettings\": [\n    {\n      \"category\": \"HARM_CATEGORY_HARASSMENT\",\n      \"threshold\": \"BLOCK_NONE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_HATE_SPEECH\",\n      \"threshold\": \"BLOCK_NONE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_SEXUALLY_EXPLICIT\",\n      \"threshold\": \"BLOCK_NONE\"\n    },\n    {\n      \"category\": \"HARM_CATEGORY_DANGEROUS_CONTENT\",\n      \"threshold\": \"BLOCK_NONE\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -128,
        -32
      ],
      "id": "f8f9465d-bbcc-4eea-b353-84cc9ccb798d",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hULuAEpbAZTCnWe6",
          "name": "Header Auth Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Tomamos el base64 desde tu estructura\nconst base64Data = $json.candidates[0].content.parts[0].inlineData.data;\n\n// Convertimos a binario (Buffer)\nconst binaryData = Buffer.from(base64Data, 'base64');\n\n// Devolvemos en formato que n8n entiende\nreturn [\n  {\n    binary: {\n      data: {\n        data: binaryData,\n        mimeType: 'image/jpeg',\n        fileName: 'imagen.jpg',\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -32
      ],
      "id": "401be6cf-5932-4256-85ad-90cedc9b950c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "set",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        320,
        -32
      ],
      "id": "a9cf842b-fea0-4a8b-956b-2b53541fde6d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e47c77c8-49a3-4f61-8da5-ef54493c69be",
  "meta": {
    "instanceId": "98611db8140f0447c39c8e56666f9a86ee6ca617237fbb551230c599687176fd"
  },
  "id": "uVYMLR2ehsCqyOUE",
  "tags": []
}